rcon==2.4.4
openai==0.27.2
pyinstaller==6.3.0
pytest==7.3.0
pytest-cov==4.0.0
pydantic==1.10.7
requests==2.31.0
ttkbootstrap==1.10.1
docutils-stubs==0.0.22
loguru==0.7.2
ordered_set==4.1.0
pynput==1.7.6
pytest-mock==3.12.0
requests-mock==1.11.0
pytest-loguru==0.3.0
pytest-random-order==1.1.1
pytest-repeat==0.9.3
fastapi==0.110.0
websockets==12.0
uvicorn==0.27.1
black==24.3.0
isort==5.13.2
mypy==1.9.0
types-pynput==1.7.5.20240311
types-requests==2.31.0.20240311